<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D408C591D318F4300B2E6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D408C6D1D318F4300B2E6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D408C781D318F4300B2E6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
